#firstSection{
    /* border: 2px solid red; */

    position: relative;
    width: 100%;
    height:45rem;
    
    display: flex;
    overflow: hidden;
}


#firstSectionImage{
    
    position: absolute;
    width: 100%;
    z-index: 1;

    filter: brightness(50%);
}


#firstSectionContent{

    /* border: 2px solid blue; */
    
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}


#firstSectionHeads{
    position: relative;
    left: 5rem;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;


}
#firstSectionHeading{
    font-size: 64px;
    color: #fff;
    text-transform: capitalize;
}










#firstSectionDowns{
    position: relative;
    left: 5rem;
    /* border: 2px solid green; */
    width: 85%;
    
    display: flex;
    align-items: center;
    column-gap: 0.6rem;

    color: #fff;
}

#firstSectionDownsLine{
    height: 1px;
    width: 70%;
    background-color: #fff;
}


















@media screen and (max-width : 800px) {

    /* #firstSection{
        border: 2px solid red;
    } */

    #firstSectionImage{
        width: auto;
        height: 100%;
        right: 0%;
    }
    
    
}


@media screen and (max-width : 650px) 
{
    
    #firstSectionHeads ,#firstSectionDowns{
        left: 2rem;
    }
    
    
    #firstSectionHeading{
        font-size: 8vw;
    }
    
}







@media screen and (max-width : 450px) {
    #firstSection{
        height: 35rem;
    }

    #firstSectionImage{
        left: -60%;
    }

    #firstSectionDowns{
        flex-direction: column;
        row-gap: 1rem;
        align-items: flex-start;
    }

    #firstSectionDownsLine{
        display: none;
    }
}



@media screen and (max-width : 350px) {
    #firstSectionImage{
        left: -90%;
    }

}